{% extends "base.html" %}

{% block titulo %} Estadios {% endblock %} 

{% block contenido %}  

<!--bs5 card-->
<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crear_estadio'%}" role="button">Agregar estadio</a> <!--bs5 button a, btn-success para color verde-->
    </div>
    <div class="card-body">
        <h4 class="card-title">Estadios</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Capacidad de personas</th>
                        <th scope="col">Tamano del estadio</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    {% for estadio in estadios %}
                    <tr>
                        <td>{{ estadio.nombre_estadio }}</td>
                        <td>{{ estadio.capacidad_estadio }}</td>
                        <td>{{ estadio.tamano_estadio }}</td>
                        <td>
                            <a name="" id="" class="btn btn-info" href="{% url 'editar_estadio' %}" role="button">Editar</a> <!--bs5 button a btn info-->
                            / 
                            <a name="" id="" class="btn btn-danger" href="{% url 'eliminar_estadio' estadio.id_estadio %}" role="button">Borrar</a> <!--bs5 button a btn danger-->
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>

{% endblock %}