{% extends "base.html" %}

{% block titulo %} Editar {% endblock %}

{% block contenido %}

<!--card head foot-->
<div class="card">
    <div class="card-header">
        Editar producto
    </div>
    <div class="card-body">
        <h4 class="card-title">Datos del producto</h4>
        
        {% include 'productos/form_producto.html' %} <!--incluir forms-->

    </div>
    <div class="card-footer text-muted">
        <!--pie vacio-->
    </div>
</div>


{% endblock %}