<form enctype="multipart/form-data" method="post">

    <!--bs5 form input-->
<div class="mb-3">
  <label for="" class="form-label">Nombre:</label>
  <input type="text"
    class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escribe el nombre">

  <small id="helpId" class="form-text text-muted">No olvides saludar</small> <!--textito-->

</div>

</form>