{% extends "base.html" %}

{% block titulo %} Productos {% endblock %} 

{% block contenido %}  

<!--bs5 card-->
<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crear_producto'%}" role="button">Agregar producto</a> <!--bs5 button a, btn-success para color verde-->
    </div>
    <div class="card-body">
        <h4 class="card-title">Productos</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    {% for producto in productos %}
                    <tr>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.precio }}</td>
                        <td>{{ producto.stock }}</td>
                        <td>
                            <img src="{{ producto.imagen.url }}" height="50" width="50"/>
                        </td> 
                        <td>
                            <a name="" id="" class="btn btn-info" href="{% url 'editar_producto'%}" role="button">Editar</a> <!--bs5 button a btn info-->
                            / 
                            <a name="" id="" class="btn btn-danger" href="#" role="button">Borrar</a> <!--bs5 button a btn danger-->
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>

{% endblock %}