{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %}

<!--bs5 jumbotron fluid-->

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Bienvenido a los cruds</h1>
      <p class="col-md-8 fs-4">Selecciona una pestana</p>

      <a name="" id="" class="btn btn-primary" href="{% url 'pag1' %}" role="button">Ver Pagina</a>

    </div>
  </div>

{% endblock %}