{% extends "base.html" %}

{% block titulo %} Editar {% endblock %}

{% block contenido %}

<!--card head foot-->
<div class="card">
    <div class="card-header">
        Editar equipo
    </div>
    <div class="card-body">
        <h4 class="card-title">Datos del equipo</h4>
        
        {% include 'equipos/form_equipo.html' %} <!--incluir forms-->

    </div>
    <div class="card-footer text-muted">
        <!--pie vacio-->
    </div>
</div>


{% endblock %}