{% extends "base.html" %}

{% block titulo %} Equipos {% endblock %} 

{% block contenido %}  

<!--bs5 card-->
<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crear_equipo'%}" role="button">Agregar equipo</a> <!--bs5 button a, btn-success para color verde-->
    </div>
    <div class="card-body">
        <h4 class="card-title">Equipos</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Venue</th>
                        <th scope="col">Owner name</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    {% for equipo in equipos %}
                    <tr>
                        <td>{{ equipo.nombre_equipo }}</td>
                        <td>{{ equipo.venue_equipo }}</td>
                        <td>{{ equipo.owner_equipo }}</td>
                        <td>
                            <a name="" id="" class="btn btn-info" href="{% url 'editar_equipo' %}" role="button">Editar</a> <!--bs5 button a btn info-->
                            / 
                            <a name="" id="" class="btn btn-danger" href="{% url 'eliminar_equipo' equipo.id_equipo %}" role="button">Borrar</a> <!--bs5 button a btn danger-->
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>

{% endblock %}