{% extends "base.html" %}

{% block titulo %} Editar {% endblock %}

{% block contenido %}

<!--card head foot-->
<div class="card">
    <div class="card-header">
        Editar jugador
    </div>
    <div class="card-body">
        <h4 class="card-title">Datos del jugador</h4>
        
        {% include 'jugadores/form_jugador.html' %} <!--incluir forms-->

    </div>
    <div class="card-footer text-muted">
        <!--pie vacio-->
    </div>
</div>


{% endblock %}