{% extends "base.html" %}

{% block titulo %} Jugadores {% endblock %} 

{% block contenido %}  

<!--bs5 card-->
<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crear_jugador'%}" role="button">Agregar jugador</a> <!--bs5 button a, btn-success para color verde-->
    </div>
    <div class="card-body">
        <h4 class="card-title">Jugadores</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Numero del jugador</th>
                        <th scope="col">Posicion del jugador</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    {% for jugador in jugadores %}
                    <tr>
                        <td>{{ jugador.nombre_jugador }}</td>
                        <td>{{ jugador.numero_jugador }}</td>
                        <td>{{ jugador.posicion_jugador }}</td>
                        <td>
                            <a name="" id="" class="btn btn-info" href="{% url 'editar_jugador' %}" role="button">Editar</a> <!--bs5 button a btn info-->
                            / 
                            <a name="" id="" class="btn btn-danger" href="{% url 'eliminar_jugador' jugador.id_jugador %}" role="button">Borrar</a> <!--bs5 button a btn danger-->
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>

{% endblock %}